<footer{{ attributes.addClass('site-footer') }}>
  <div class="site-footer__inner">
    <div class="site-footer__menu">
      <span>{{ 'About'|t|upper }}</span>
      <span>{{ 'Contact'|t|upper }}</span>
      <span>{{ 'Support'|t|upper }}</span>
      <span>{{ 'Legal'|t|upper }}</span>
      <span>{{ 'Privacy policy'|t|upper }}</span>
    </div>
    <p class="site-footer__copyright">&copy; {{ 'now'|date('Y') }} {{ 'Interstate-8'|t }} &middot; {{ 'a Modest Mouse fan collaborative'|t }}</p>
    <p class="site-footer__disclaimer">{{ 'Interstate-8.com is in no way associated with or authorized by Modest Mouse or any of their agents.'|t }}</p>
  </div>
</footer>
