{% block content %}
<div{{ attributes.addClass('site-branding') }}>
  <a class="site-branding__link" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    {{ include('interstate_85:site-badge') }}
    {% if site_name %}
      <span class="site-branding__name">{{ site_name }}</span>
    {% endif %}
  </a>
</div>
{% endblock %}
